# Системные файлы
.DS_Store
Thumbs.db

# Файлы сборки CMake
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Makefile
cmake_install.cmake
CTestTestfile.cmake

# Сборочные директории
build/
bin/
lib/

# Исполняемые файлы
*.exe
*.out
*.o
*.a
*.so
*.dylib

# Логи
*.log

# Системные файлы IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Временные файлы
*.tmp
*.temp

